linkbar
      div.linkbar
        a(href="https://www.linkedin.com/in/serenatay/" id="linkbar" type="button") LinkedIn
        a(href="https://github.com/AneresArsenal/portfolio" id="linkbar" type="button") GitHub
        a(href="https://www.instagram.com/varldnomad/" id="linkbar" type="button") Instagram


<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
