navbar
      div.navbar
        a(href="/" id="navbar" type="button") Home
        a(href="/cashflows" id="navbar" type="button") About Me
        a(href="/clubs" id="navbar" type="button") Learning Diary
        a(href="/history" id="navbar" type="button") Projects
        a(href="/countries" id="navbar" type="button") Personal Adventures


<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
