navbar
      div.navbar
        a(href="/mainpage" id="navbar" type="button") Home
        a(href="/about" id="navbar" type="button") About Me
        a(href="/diary" id="navbar" type="button") Learning Diary
        a(href="/projects" id="navbar" type="button") Projects
        a(href="/data" id="navbar" type="button") Data Playgroud 
        a(href="/personal" id="navbar" type="button") Personal Adventures
        a(href="/myStory" id="navbar" type="button") My Story


script(href="https://fonts.googleapis.com/css?family=Raleway&display=swap", rel="stylesheet")
script(rel="stylesheet", href="/stylesheets/main.css")

//- Latest compiled and minified CSS -->
script(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")

//- jQuery library -->
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js")

//- Popper JS -->
script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")

//- Latest compiled JavaScript -->
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")
