navbar
      div.navbar
        a(href="/mainpage.html" id="navbar" type="button") Home
        a(href="/about.html" id="navbar" type="button") About Me
        a(href="/diary.html" id="navbar" type="button") Learning Diary
        a(href="/projects.html" id="navbar" type="button") Projects
        a(href="/data.html" id="navbar" type="button") Data Playgroud 
        a(href="/personal.html" id="navbar" type="button") Personal Adventures
        a(href="/myStory.html" id="navbar" type="button") My Story


link(href="https://fonts.googleapis.com/css?family=Raleway&display=swap", rel="stylesheet")
link(rel="stylesheet", href="/stylesheets/main.css")


