sidebar
      div.sidenav
        a(href="/" id="sidebar" type="button") Main Page
      div.sidenav
        a(href="/cashflows" id="sidebar" type="button") Cashflows
      div.sidenav
        a(href="/clubs" id="sidebar" type="button") Clubs
      div.sidenav
        a(href="/history" id="sidebar" type="button") Club History
      div.sidenav
        a(href="/countries" id="sidebar" type="button") Countries
      div.sidenav
        a(href="/leagues" id="sidebar" type="button") Leagues
      div.sidenav
        a(href="/players" id="sidebar" type="button") Players

<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
