navbar
      div.navbar
        a(href="/mainpage" id="navbar" type="button") Home
        a(href="/diary" id="navbar" type="button") Learning Diary
        a(href="/projects" id="navbar" type="button") Projects
        a(href="/data" id="navbar" type="button") Data Playgroud 
        a(href="/personal" id="navbar" type="button") Personal Adventures
        a(href="/myStory" id="navbar" type="button") My Story
        a(href="/about" id="navbar" type="button") About Me


link(href="https://fonts.googleapis.com/css?family=Raleway&display=swap", rel="stylesheet")
link(rel="stylesheet", href="/stylesheets/main.css")


