html
  head
    title Data Playground
    link(rel="stylesheet", href="/stylesheets/main.css")
    include includes/header.pug
  include includes/navbar.pug
  include includes/links.pug

  body.main
    br
    h2.data Brewing some exciting stuff at the moment, please come back later! =)
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    h3.quoteBottom 
      |"Not everything that can be counted counts, and not everything that counts can be counted."
      | - Albert Einstein

script(href='/javascripts/main.js')