html
  head
    title Serena Tay
    link(rel="stylesheet", href="/stylesheets/main.css")
    include includes/header.pug
  include includes/navbar.pug
  include includes/links.pug
  
  body.main
    <div class="typewriter">
      <div class="typewriter-text">Hello there, my name is Serena =) </div>
    </div>
    br
    //https://usefulangle.com/post/85/css-typewriter-animation
    img#main(src='/images/goteborg.jpg' alt='goteborg')
    p.main  
      | As the Swedes say it best, hej hej!
      | I created this website (see: work-in-progress) mainly with two objectives.
      | Firstly, as a personal diary, to reflect on my learning milestones in software engineering and data science.
      | Secondly, to share some of the fun things I am fiddling with at the moment!
    h3.quoteBottom "All we have to decide is what to do with the time that is given us." 
      | J.R.R. Tolkien
    
script(href='/javascripts/main.js')
  
  
        


