html
  head
    title Serena Tay
    link(rel="stylesheet", href="/stylesheets/main.css")
    include includes/header.pug
  include includes/navbar.pug
  include includes/links.pug

  body.main
    h2.myStoryTop Once upon a time . . .
    p.myStory  
      | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
      | Growing up in a small town in Southeast Asia, pursuing software development was never tabled as an option. 
      | Out of my graduating class, only one pursued software development
      | while the rest went into law, engineering, medicine and business. 
      | Albeit being an avid gamer in my teenage years, programming was something that was foreign to me. 
      | Thus the idea of building software and applications was never something I thought I was capable of.
    p.myStory  
      | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
      | Fast forward a few years, my family and I moved to Canada. I was accepted into University of British Columbia and graduated with Honours in Accounting.
      | For the past seven years, I pursued a career as a CPA accountant and eventually transitioned to a career as a management consultant. 
      | Throughout my career, I have worked with organizations across all sectors, from local non-profits and tech startups to multinational
      | biopharmaceuticals and mining corporations. I enjoyed working with high callibre professionals across Canada and collaborating on multinational projects in Mexico and Argentina.
    h2.myStory A crossroad appeared . . .
    p.myStory 
      | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   
      | A few years back, I was reflecting on my career and despite having a great working experience,
      | I felt a need for a new challenge and a career that allows me to tap into my curiousity, build things and solve challenging problems.
      | During one of our food adventures, a close friend who is a software developer himself, posed the question 
      i " What about software development? " 
      | I thought to myself 
      i " I do not think I am smart enough to do that. " 
      | and rubbed it off.
    h2.myStory A spark of interest. . .
    p.myStory  
      | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
      | At a company townhall meeting, we were introduced to a case study where NBA collaborated with KPMG US
      | to assess teams' travel schedules to identify opportunities to reduce travel time. By harnessing data analytics
      | capabilities and optimization techniques, NBA successfully reduced travel time significantly.
      | Being an avid football fan myself, this case study peaked my interest in data analytics as I was intrigued by how it may play a role in 
      | potentially enhancing the beautiful game.
    h2.myStory And so the journey begins !
    p.myStory
      | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
      | Fast forward to 2017, during my backpacking trip to South America, on a train from Cusco to Aguas Calientes, a gentlemen sitting beside me was programming on his laptop and I decided to
      | strike a conversation with him. Three hours later, my interest in data anaytics rekindled. During our conversation, I realized that
      | in order to pursue my passion in data analytics, having knowledge computer science will be vital as it enables one to be proficient in utilizing various
      | programming languages and softwares to analyze data. Hence, attaining knowledge in computer science would be my first step in this
      | career transition. A few days later while in Medina, Colombia, I started exploring universities and eventually applied for Oregon State University (OSU) 
      | the week I landed back in Vancouver. Within days, I received my acceptance letter and never looked back since.
    h2.myStory Left or Right?
    p.myStory
      | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
      | After completing a few courses with OSU, I decided to apply to Georgia Tech's Masters in Analytics program. 
      | Despite not possessing the strongest technical background and work experience that were recommended for this program, I was admitted in January 2019. 
      | An uexpected dilemma surfaced. Should I continue pursuing my desire of working in data analytics?
      | Or perhaps, I could work as a software developer and help build applications?
      | My journey with OSU took me by surprise. Despite being initially intimidated by coursemates who are well-experienced in programming,
      | I fell in love with the idea of building programs and being challenged to use various languages such as C++, C, SQL and JavaScript.
      | After long conversations with mentors and friends working in the tech industry, I decided that I would be  excited to pursue
      | a career in either field (or perhaps a combination of both!) as they both provide what I need in my career,
      | a continuous learning environment to satiate my undying thirst for knowledge,
      | as well as a career that revolves around problem-solving and seeking untapped opprtunites. 
      | As the saying goes, 
      i "Life is not a sprint, but a marathon."  
      | I look forward to what the future brings!
      | [To be continued...]


    img#story(src='/images/highway.jpg' alt='highway')
    h3.quoteBottom 
      | "Still round the corner there may wait,
      br
      | A new road or a secret gate,
      br
      | And though I oft have passed them by,
      br
      | A day will come at last when I,
      br
      | Shall take the hidden paths that run,
      br
      | West of the Moon, East of the Sun." - J.R.R. Tolkien


    script(src="/javascripts/main.js")