html
  head
    title Learning Diary
    link(rel="stylesheet" href="/stylesheets/main.css")
    include includes/header.pug
  include includes/navbar.pug
  include includes/links.pug


  body.main
    h3.diaryTop CS493 Cloud Application Development &nbsp;&nbsp;&nbsp;&nbsp; (Fall 2019)

    p.diary 
      | This is by far my favourite course in the program. I had the opportunity to learn about designing RESTful APIs, using Postman
      | to perform automated testing and implementing OAuth 2.0 to ensure applications are secure. It was fascinating
      | learning about the authentication process flow. Applications were
      | deployed on Google App Engine using Flask and Python. Feel free to check them out on my GitHub!

    h3.diary CS362 Software Engineering II &nbsp;&nbsp;&nbsp;&nbsp; (Fall 2019)

    p.diary 
      | As the course description puts it, this course was an introduction to the "back-end" of software engineering lifecycle implementation 
      | namely in areas such as verification and validation, debugging and maintenance. We got to learn about implementing unit testing which includes 
      | covering postive, negative and boundary cases as well as performing random testing. We also explored Agans Rules on debugging, integration
      | and regression testing, automated testing framework (Catch2), continuous integration and test driven development. All assignments
      | and project were written in C.

    h3.diary CS372 Introduction to Computer Networks &nbsp;&nbsp;&nbsp;&nbsp; A

    p.diary 
      | In this course, I was introduced to computer network principles, fundamental networking concepts, packet-switching and circuit switching.
      | I also learned about TCP/IP protocol layers, congestion control, flow control, packet forwarding and routing and various computer 
      | networking concepts. At the end of the course, I successfully implemented a two-way chat server system that was written in C and Python.

    h3.diary CS325 Analysis of Algorithms &nbsp;&nbsp;&nbsp;&nbsp; A-

    p.diary 
      | Algorithms! As many put it, it is a pivotal building blocks in one's knowledge in software development and computer science.
      | It wasn't the easiest course as there were many concepts to grasp such as recurrence relations and recursive algorithms
      | but I did enjoy learning about their importance and how they can be useful. We explored further on Big-O complexity and the 
      | different types of algorithms that are widely used in software development. All coursework was done in C and Python.

    h3.diary CS340 Introduction to Databases &nbsp;&nbsp;&nbsp;&nbsp; A

    p.diary 
      | Being a logical thinker and a data enthusiast, I really enjoyed this course as I got to learn how to use
      | SQL to create queries to interact with databases. I was exposed to best practices on how to design and implement  
      | relational databases which includes topics on data modeling with Entity Relationship Model and Unified Modeling language,
      | designing relational schema and diagrams, relational algebra, user interfaces, and administration. The course included 
      | a group project. My teammate and I successfully implemented and deployed a web application that enable users to interact
      | with a MariaDB. The project was written in JavaScript, NodeJS and SQL.

    h3.diary CS271 Computer Architecture and Assembly Language &nbsp;&nbsp;&nbsp;&nbsp; A-

    p.diary 
      | This is probably one of the hardest courses I have taken in the program so far mostly due to
      | the fact that we need to complete our assignments using a low-level language (assembly).
      | Nonetheless, I learned a lot about the functional organization and operation of computers.
      | I also learned how to perform addressing, using stacks, argument passing, arithmetic operations,
      | macros, modularization with assembly. Bonus point: As I have a Macbook, I learned how to create 
      | a virtual machine on my laptop to enable me to use Windows OS for this course! :)

    h3.diary CS261 Data Structures &nbsp;&nbsp;&nbsp;&nbsp; A-

    p.diary 
      | I learned about the different data structures and several software
      | topics such as time complexity analysis, vectors, lists, queues, trees, heaps, 
      | hash tables maps, and graphs. I discovered how utlizing different data structures
      | dictates the efficiency of accessing, adding, searching and deleting items from the
      | data structures. We used C when exploring the different data structures.

    h3.diary CS290 Web Development &nbsp;&nbsp;&nbsp;&nbsp; B+

    p.diary 
      | In this course, I learned about the elements of web development and how to
      | implement different functionalities in web applications. I was exposed to topics on
      | scalability, usability and security. We used HTML, CSS and AJAX.

    h3.diary CS162 Introduction to Computer Science II &nbsp;&nbsp;&nbsp;&nbsp; A

    p.diary 
      | Building on from CS161, we dived deeper into more complex topics which includes data structures, 
      | programming techniques and application of software engineering principles. Using C++ as
      | well in this course, we learned to use classes, structures, inheritance and polymorphism
      | to create more efficient programs. Furthermore, I developed software development testing plans
      | to run tests to ensure our programs function as expected. This trained myself to think critically
      | about how my program functions and if it satisfy the objectives and criterias that are established
      | for the program.

    h3.diary CS161 Introduction to Computer Science I &nbsp;&nbsp;&nbsp;&nbsp; B+

    p.diary 
      | This is the first programming course I took. The language used for this course
      | was C++. The course provided an overview of fundamental concepts of computer science which
      | included aspects of problem solving in computer science, software engineering
      | as well and object-oriented programming. We learned algorithm design, 
      | program development, recursive definitions and graph theory. It was what I would call
      | the perfect "initiation" into programming. Tough but essential, learning to deal with 
      | memory allocation and management as well as ensuring the right data types are used was helpful
      | in establishing discipline in my software development practices. It helped trained my mind to 
      | visualize the flow of data within a program to avoid memory leaks and ensuring appropriate usage 
      | of variables and data structures.

    h3.diary CS225 Discrete Structures in Computer Science &nbsp;&nbsp;&nbsp;&nbsp; A

    p.diary 
      | The course covered fundemental discrete mathematics of 
      | computer science which includes topics such as logic, set and set operations, methods of proof, 
      | recursive definitions and graph theory. Despite it not being a favourite amongst the students,
      | I personally enjoyed learning the logic and proofing methods as math has always been a favourite
      | subject of mine in academia. After progressing through the program, I realized that the logic and proofing exercises
      | covered in this course has been tremendously helpful in training my mind to think in a logical way
      | when creating for, while, if else loops as well as understanding recursions.

    h3.quoteBottom 
      | "I am always doing that which I cannot do, in order that I may learn how to do it."
      br
      | Pablo Picasso


script(href='/javascripts/main.js')