html
  head
    title Projects
    link(rel="stylesheet", href="/stylesheets/main.css")
    include includes/header.pug
  include includes/navbar.pug
  include includes/links.pug

  body.main
    
    p.projectsTop 
     strong June 2019 : Oregon State University BeaverHacks Summer 2019
    p.projects 
     | Participated in my first ever hackathon. With a team four coursemates residing in 
     | three different timezones (yay time difference!), we successfully
     | leveraged our strengths and unique professional experience to collaborate on this project.

    p.projects 
     strong Programming languages and technology 
     | node.js, html5, css3, github 
    
    p.projects 
     a(href="https://devpost.com/software/tomato-timeout-o" target="_blank" id="linkbar" type="button") Results

    h3.quoteWIP 
     | "Apple is about people who think 'outside the box,' people who want to use computers to help them change the world,
     | to help them create things that make a difference, and not just to get a job done."
     | - Steve Jobs
script(href='/javascripts/main.js')