html
  head
    title Data Playground
    link(rel="stylesheet", href="/stylesheets/main.css")
    include includes/header.pug
  include includes/navbar.pug
  include includes/links.pug

  body.main
    h3.quote "Not everything that can be counted counts, and not everything that counts can be counted." - Albert Einstein
    h2.main Construction in progress, please come back later! =)
    
script(href='/javascripts/main.js')