html
  head
    title Projects
    link(rel="stylesheet", href="/stylesheets/main.css")
    include includes/header.pug
  include includes/navbar.pug
  include includes/links.pug

  body.main
    h3.quote 
    | "Apple is about people who think 'outside the box,' people who want to use computers to help them change the world,
    | to help them create things that make a difference, and not just to get a job done." - Steve Job
    h2.main Construction in progress, please come back later! =)
    
script(href='/javascripts/main.js')