body {
  background-color: #fafafafa;
  color: rgb(59, 57, 57);
  line-height: 32px;
}

.about {
  background-color: #fafafafa;
  color: rgb(59, 57, 57);
  font-family: 'Raleway', sans-serif;
  line-height: 32px;
  text-align: center;
}

h1.about {
  background-color: #fafafafa;
  color: rgb(59, 57, 57);
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  line-height: 32px;
  margin-top: 80px;
  padding-top: 30px;
}


.about {
  background-color: #fafafafa;
  color: rgb(59, 57, 57);
  font-family: 'Raleway', sans-serif;
  line-height: 32px;
  text-align: center;
}

.sideColumn {
  float: left;
  font-size: 25;
  font-weight: bold;
  padding: 10px;
  width: 20%;
}

.column {
  float: left;
  font-size: 30;
  font-weight: bold;
  padding: 10px;
  width: 40%;
}

/* Clear floats after the columns */
.row:after {
  clear: both;
  content: "";
  display: table;
}

#headshot {
  float: right;
  height: 50%;
  padding-bottom: 10%;
  width: 18%;
}

p.about {
  color: rgb(29, 26, 26); 
  font-size: 20;
  margin-left: 40px;
  padding-bottom: 10px;
  text-align: justify;
  
}

navbar {
  background-color: rgb(29, 26, 26); 
  color: #ffffff;
  float: center;
  font-family: 'Raleway', sans-serif;
  height: 40px; 
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding: 10px;
  position: fixed; /* Fixed navbar (stay in place on scroll) */
  top: 0; /* Stay at the top */
  text-align: center;
  width: 100%; /* Set the width of the navbar */  
  }

  .navbar {
    background-color: rgb(29, 26, 26); 
    color: #ffffff;
    font-size: 20;
    margin-bottom: 20px;
    text-align: center;
  }

  .navbar a {
    margin: 20px;
  }

  .navbar a:hover {
    background-color: rgb(94, 94, 94);
    color: #3225ec;
    margin-bottom: 20px;
  }
  
  .navbar a:active {
    background-color: #4CAF50;
    margin-bottom: 20px;
    text-decoration: none;
  }

  .navbar a:link {
    color: #83c6f3;
    margin-bottom: 20px;
    text-decoration: none;
  }
  
  .navbar a:visited {
    color: #83c6f3;
    margin-bottom: 20px;
    text-decoration: none;
  }
  
linkbar {
  background-color: rgb(29, 26, 26); 
  bottom: 0; /* Stay at the top */
  color: #ffffff;
  float: center;
  font-family: 'Raleway', sans-serif;
  height: 20px; 
  left: 0;
  padding: 10px;
  position: fixed; /* Fixed navbar (stay in place on scroll) */
  overflow-x: hidden; /* Disable horizontal scroll */
  text-align: center;
  width: 100%; /* Set the width of the navbar */
  }

  .linkbar {
    background-color: rgb(29, 26, 26); 
    color: #ffffff;
    font-size: 15;
    margin-bottom: 20px;
    text-align: center;
  }

  .linkbar a {
    margin: 20px;
  }


  .linkbar a:hover {
    background-color: rgb(94, 94, 94);
    color: #3225ec;
    margin-bottom: 20px;
  }
  
  .linkbar a:active {
    background-color: #4CAF50;
    margin-bottom: 20px;
    text-decoration: none;
  }

  .linkbar a:link {
    color: #83c6f3;
    margin-bottom: 20px;
    text-decoration: none;
  }
  
  .linkbar a:visited {
    color: #83c6f3;
    margin-bottom: 20px;
    text-decoration: none;
  }
