body {
  background-color: #fafafafa;
  color: rgb(59, 57, 57);
  line-height: 32px;
}

.about {
  background-color: #fafafafa;
  color: rgb(59, 57, 57);
  font-family: 'Arvo', serif; 
  line-height: 32px;
  text-align: center;
}

.column {
  float: left ;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 30;
  font-weight: bold;
  margin-bottom: 0;
  width: 50%;
}

.main {
  background-color: #fafafafa;
  color: rgb(59, 57, 57);
  font-family: 'Arvo', serif; 
  line-height: 32px;
  text-align: center;
}
/* Clear floats after the columns */
.row:after {
  clear: both;
  content: "";
  display: table;
}

.sideColumn {
  float: left;
  margin-bottom: 0;
  margin-right: 10px;
  width: 30%;
}

.sideHeader {
  float: left;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 30;
  font-weight: bold;
  margin-bottom: 0;
}

.quote {
  background-color: #fafafafa;
  color: rgb(59, 57, 57);
  font-family: 'Permanent Marker', cursive;
  font-size: 20px;
  line-height: 32px;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
}

.quoteBottom {
  background-color: #fafafafa;
  color: rgb(59, 57, 57);
  font-family: 'Permanent Marker', cursive;
  font-size: 20px;
  line-height: 32px;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  padding-bottom: 30px;
}

#headshot {
  float: right;
  height: 50%;
  width: 18%;
}

h1.main {
  background-color: #fafafafa;
  color: rgb(59, 57, 57);
  font-family: 'Arvo', serif; 
  font-weight: bold;
  line-height: 32px;
  padding-top: 30px;
}

h1.about {
  background-color: #fafafafa;
  color: rgb(59, 57, 57);
  font-family: 'Gloria Hallelujah', cursive;
  font-weight: bold;
  line-height: 32px;
  margin-top: 80px;
}

h2.about {
  background-color: #fafafafa;
  color: rgb(59, 57, 57);
  font-family: 'Gloria Hallelujah', cursive;
  font-weight: bold;
  line-height: 32px;
  padding-bottom: 30px;
}


h2.myStoryTop {
  background-color: #fafafafa;
  color: rgb(59, 57, 57);
  font-family: 'Gloria Hallelujah', cursive;
  font-weight: bold;
  line-height: 32px;
  margin-top: 80px;
}

h2.myStory {
  background-color: #fafafafa;
  color: rgb(59, 57, 57);
  font-family: 'Gloria Hallelujah', cursive;
  font-weight: bold;
  line-height: 32px;
}

p.main {
  color: rgb(29, 26, 26); 
  font-size: 18;
  margin-left: 20%;
  margin-right: 20%;
  padding-bottom: 10px;
  text-align: justify;
}

p.aboutSide {
  color: rgb(29, 26, 26); 
  font-family: 'Arvo', serif; 
  font-size: 18;
  margin-bottom: 0;
  margin-left: 40px;
  padding-bottom: 10px;
  text-align: left;
  width: 100%;
}

p.about {
  color: rgb(29, 26, 26); 
  font-size: 18;
  margin-bottom: 0;
  margin-left: 40px;
  text-align: left;
}

p.myStory {
  color: rgb(29, 26, 26);
  font-family: 'Arvo', serif; 
  font-size: 18;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 10px;
  text-align: justify;
}

li.about {
  color: rgb(29, 26, 26); 
  font-size: 17;
  margin-left: 5%;
  text-align: left;
}

li.main {
  color: rgb(29, 26, 26); 
  font-size: 20;
  margin-left: 20%;
  margin-right: 20%;
  padding-bottom: 10px;
  text-align: justify;
}

.counter {
  color: rgb(29, 26, 26); 
  font-size: 20;
  padding-bottom: 60px;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
}

navbar {
  background-color: rgb(29, 26, 26); 
  color: #ffffff;
  float: center;
  font-family: 'Arvo', serif; 
  height: 40px; 
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding: 10px;
  position: fixed; /* Fixed navbar (stay in place on scroll) */
  top: 0; /* Stay at the top */
  text-align: center;
  width: 100%; /* Set the width of the navbar */  
  }

  .navbar {
    background-color: rgb(29, 26, 26); 
    color: #ffffff;
    font-size: 20;
    margin-bottom: 20px;
    text-align: center;
  }

  .navbar a {
    margin: 20px;
  }

  .navbar a:hover {
    background-color: rgb(94, 94, 94);
    color: #3225ec;
    margin-bottom: 20px;
  }
  
  .navbar a:active {
    background-color: #4CAF50;
    margin-bottom: 20px;
    text-decoration: none;
  }

  .navbar a:link {
    color: #83c6f3;
    margin-bottom: 20px;
    text-decoration: none;
  }
  
  .navbar a:visited {
    color: #83c6f3;
    margin-bottom: 20px;
    text-decoration: none;
  }
  
linkbar {
  background-color: rgb(29, 26, 26); 
  bottom: 0;
  color: #ffffff;
  float: center;
  font-family: 'Arvo', serif; 
  height: 20px; 
  left: 0;
  padding: 15px;
  padding-bottom: 15px;
  position: fixed; /* Fixed navbar (stay in place on scroll) */
  overflow-x: hidden; /* Disable horizontal scroll */
  text-align: center;
  width: 100%; /* Set the width of the navbar */
  }

  .linkbar {
    background-color: rgb(29, 26, 26); 
    color: #ffffff;
    font-size: 18;
    text-align: center;
  }

  .linkbar a {
    margin: 20px;
  }


  .linkbar a:hover {
    background-color: rgb(94, 94, 94);
    color: #3225ec;
  }
  
  .linkbar a:active {
    background-color: #4CAF50;
    text-decoration: none;
  }

  .linkbar a:link {
    color: #83c6f3;
    text-decoration: none;
  }
  
  .linkbar a:visited {
    color: #83c6f3;
    text-decoration: none;
  }

#main {
  padding-top: 60px;   
}


*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }


.container {
  width: 430px;
  margin: 10px;
  overflow: hidden;
  float: left;
}

.progress-bar {
  float: left;
  height: 45px;
  width: 100%;
  padding: 12px 0;
}

.progress-track {
  position: relative;
  width: 100%;
  height: 30px;
}

.progress-fill1 {
  position: relative;
  background: rgb(31, 248, 3);
  height: 30px;
  width: 100%;
  color: rgb(31, 28, 28);
  text-align: center;
  font-family: "Lato","Verdana",sans-serif;
  font-size: 12px;
  line-height: 20px;
}

.progress-fill2 {
  position: relative;
  background: rgb(31, 248, 3);
  height: 30px;
  width: 80%;
  color: rgb(31, 28, 28);
  text-align: center;
  font-family: "Lato","Verdana",sans-serif;
  font-size: 12px;
  line-height: 20px;
}

.progress-fill3 {
  position: relative;
  background: rgb(31, 248, 3);
  height: 30px;
  width: 60%;
  color: rgb(31, 28, 28);
  text-align: center;
  font-family: "Lato","Verdana",sans-serif;
  font-size: 12px;
  line-height: 20px;
}


.progress-track,
.progress-fill {
  border-radius: 3px;
  box-shadow: inset 0 0 5px rgba(0,0,0,.2);
}

