body {
  background-color: #fafafafa;
  color: rgb(59, 57, 57);
  line-height: 32px;
}

.main {
  background-color: #fafafafa;
  color: rgb(59, 57, 57);
  text-align: center;
  line-height: 32px;
  font-family: 'Raleway', sans-serif;
}

h1.main {
  background-color: #fafafafa;
  color: rgb(59, 57, 57);
  padding-top: 60px;
  line-height: 32px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

h1.personal {
  background-color: #fafafafa;
  color: rgb(59, 57, 57);
  padding-top: 60px;
  line-height: 32px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}



p.main {
  color: rgb(29, 26, 26); 
  font-size: 20;
}

navbar {
    height: 40px; 
    width: 100%; /* Set the width of the navbar */
    position: fixed; /* Fixed navbar (stay in place on scroll) */
    top: 0; /* Stay at the top */
    left: 0;
    float: center;
    text-align: center;
    background-color: rgb(29, 26, 26); 
    color: #ffffff;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding: 10px;
    font-family: 'Raleway', sans-serif;
  }

  .navbar {
    background-color: rgb(29, 26, 26); 
    margin-bottom: 20px;
    font-size: 20;
    color: #ffffff;
    text-align: center;
  }

  .navbar a {
    margin: 20px;
  }


  .navbar a:hover {
    color: #3225ec;
    background-color: rgb(94, 94, 94);
    margin-bottom: 20px;
  }
  
  .navbar a:active {
    background-color: #4CAF50;
    text-decoration: none;
    margin-bottom: 20px;
  }

  .navbar a:link {
    color: #83c6f3;
    text-decoration: none;
    margin-bottom: 20px;
  }
  
  .navbar a:visited {
    color: #83c6f3;
    text-decoration: none;
    margin-bottom: 20px;
  }
  
linkbar {
    height: 40px; 
    width: 100%; /* Set the width of the navbar */
    bottom: 0; /* Stay at the top */
    left: 0;
    float: center;
    text-align: center;
    background-color: rgb(29, 26, 26); 
    color: #ffffff;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding: 10px;
    font-family: 'Raleway', sans-serif;
    position: fixed; /* Fixed navbar (stay in place on scroll) */
  }

  .linkbar {
    background-color: rgb(29, 26, 26); 
    margin-bottom: 20px;
    font-size: 20;
    color: #ffffff;
    text-align: center;
  }

  .linkbar a {
    margin: 20px;
  }


  .linkbar a:hover {
    color: #3225ec;
    background-color: rgb(94, 94, 94);
    margin-bottom: 20px;
  }
  
  .linkbar a:active {
    background-color: #4CAF50;
    text-decoration: none;
    margin-bottom: 20px;
  }

  .linkbar a:link {
    color: #83c6f3;
    text-decoration: none;
    margin-bottom: 20px;
  }
  
  .linkbar a:visited {
    color: #83c6f3;
    text-decoration: none;
    margin-bottom: 20px;
  }