html
  head
    title About Me
    link(rel="stylesheet", href="/stylesheets/main.css")

  include includes/navbar.pug
  include includes/links.pug

  body.main
    h1 Serena Tay
    p.main "All we have to decide is what to do with the time that is given us." JRR Tolkien
    script(src="/javascripts/main.js")