html
  head
    title About Me
    link(rel="stylesheet", href="/stylesheets/about.css")

  include includes/navbar.pug
  include includes/links.pug

  body.about
    h1.about Serena Tay
    h2.about Software Developer, Data Analytics Enthusiast and Proud Shareholder of Real Oviedo FC 
    h3.about "It is our choices, Harry, that show what we truly are, far more than our abilities." Professor Albus Dumbledore
    .row
      .sideColumn Profile
        p.about Hello 1
      .column Professional Experience
        p.about Hello 1
      img#headshot(src='/images/headshot.jpg' alt='headshot')


