html
  head
    title Serena Tay
    link(rel="stylesheet", href="/stylesheets/main.css")

  

    //- jQuery library -->
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js")

    //- Popper JS -->
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")

    //- Latest compiled JavaScript -->
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")

  include includes/navbar.pug
  include includes/links.pug

  img(src='/images/goteborg.jpg' alt='goteborg' width='70%' height = '40%')
  body.main
    h3.main "All we have to decide is what to do with the time that is given us." - J.R.R. Tolkien
    h2.main Welcome       Bienvenida        Välkommen        أهلا بك         Selamat Datang       欢迎
    p.main  
      | As the Swedes say it best, hej hej! First of all, thank you for visiting my page. 
      | I created this website (see: work-in-progress) mainly for two reasons. 
      | First, as a personal diary to reflect on my journey of pursuing my passion in software development/data analyics. 
      | Second, to share some exciting things I am doing (including building this website!)
