html
  head
    title Serena Tay
    link(rel="stylesheet", href="/stylesheets/main.css")

  include includes/navbar.pug
  include includes/links.pug

  img(src='/images/goteborg.jpg' alt='goteborg' width='100%' height = '500px')
  body.main
    h3.main "All we have to decide is what to do with the time that is given us." - J.R.R. Tolkien
    h2.main Welcome       Bienvenida        Välkommen        أهلا بك         Selamat Datang       欢迎
    p.main  
      | As the Swedes say it best, hej hej! First of all, thank you for visiting my page. 
      | I created this website (see: work-in-progress) mainly for two reasons. 
      | First, as a personal diary to reflect on my journey of pursuing my passion in software development/data analyics. 
      | Second, to share some exciting things I am doing (including building this website!)

    h2.main Once upon a time...
    p.main  
      |   Growing up in a small town in Southeast Asia, pursuing software development was never tabled as an option. 
      | Out of my graduating class, only one person pursued software development
      | while the rest of us went into law, engineering, medicine and business. 
      | Albeit being an avid gamer in my teenage years, programming was something that was foreign to me. 
      | I am always comfortable using computers, but the idea of building software and applications was never something I thought I was capable of.
    p.main  
      |   Fast forward a few years, my family and I moved to Canada. I was accepted into University of British Columbia and graduated with Honours in Accounting.
      | For the past seven years, I pursued a career as a CPA accountant and eventually worked as a management consultant. 
      | Throughout my career, I have worked with organizations across all sectors, from local non-profits and local tech startups to
      | biopharmaceuticals and multinational mining corporations. I have worked with teams across Canada and on multinational projects in Mexico and Argentina.


    h2.main A crossroad appeared...
    p.main  
      | A few years back, I was reflecting on my career and felt like I needed a new challenge. I wanted a career that allows me to create things and to solve problems.
      | During one of our food adventures, one of my closest friends who is a software developer posed the question "What about software development?"
      | I thought to myself "I do not think I am smart enough." and rubbed it off.
    p.main
      | A few months later during my 2017 trip to South America, on a train from Cusco to Aguas Calientes, a gentlemen sitting beside me was programming on his laptop and I decided to
      | strike a conversation with him. Three hours later, my interest in software development kindled and a few days later while in Medina, Colombia, I 
      | started exploring schools that offer computer science as a second degree and eventually applied for Oregon State University the week I landed back in Vancouver. 
      | Within a week, I received my acceptance letter and never looked back since. [To be continued...]
    script(src="/javascripts/main.js")