html
  head
    title Serena Tay
    link(rel="stylesheet", href="/stylesheets/main.css")

  include includes/navbar.pug
  include includes/links.pug

  img(src='/images/goteborg.jpg' alt='headshot' width='100%' height = '500px')
  body.main
    h1 Serena Tay
    p.main "All we have to decide is what to do with the time that is given us." JRR Tolkien
    script(src="/javascripts/main.js")