html
  head
    title Personal Adventures
    link(rel="stylesheet", href="/stylesheets/main.css")
    include includes/header.pug
  include includes/navbar.pug
  include includes/links.pug

  body.main
    h1.personal A life well travelled is worth more than a thousand gold coins
    p.main Allt är inte guld som glimmar. Allt sak har sin tid - J.R.R. Tolkien
    p.main All that glimmers is not gold. All things have their time - J.R.R. Tolkien
    p.main Winter of 2012 - It was there and then where I embarked on my first adventure, all by myself with a roller suitcase (which I still use!), on a train from King's Cross Station to the northern parts of UK. Edinburgh, a city locked in time, rich in character and pride itself in its centuries of history and heritage, became the city that taught me the ways and tricks of travelling. Looking back, I frankly would not be able to tell you what spurred me on this journey and yet this was the journey that has sparked an unexpected curiosity in my soul. An inquisitiveness to see the world, in its good and bad, ugly and beautiful, just as it is. Since then, I had the opportunity to traverse over 26 countries and have never regretted a single bit. There were certainly times where I surely got frustrated, whether it was lugging my luggage through the city trying to find my hostel in Copenhagen during a freezing wet winter or getting stuck in San Jose for 14 hours while waiting for my ride to Quepos. But after years of travelling, I have learned to hold onto one travel principle: It is often better to regret doing something, than to regret not doing it. And it has never let me down yet.
    script(src="/javascripts/main.js")

  
