html
  head
    title CS 340 Final Project
    link(rel="stylesheet", href="/stylesheets/main.css")

  include includes/sidebar.pug
  body.main
    h1 Welcome to the CS340 Football Database!
    p.main Cashflow -- Information on clubs and their annual cashflow activities
    p.main Clubs -- List of all the football clubs in the database
    p.main Club History -- Information on club history including promotions and relegations in different leagues
    p.main League-- List of all the leagues in the database
    p.main Countries -- List of countries in the database
    p.main Players -- List of players and their transfer fee and market value
    script(src="/javascripts/main.js")